* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.9)),
              url("images/bg.jpg") center/cover;
  color: white;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 40px 15px;
}

.title {
  font-size: 2.6rem;
  color: #00ffcc;
  text-shadow: 0 0 15px #00ffcc;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  background: #111;
  border-radius: 15px;
  padding: 15px;
  text-decoration: none;
  color: white;
  box-shadow: 0 0 25px rgba(0,255,204,.4);
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  margin-top: 15px;
  border-radius: 10px;
}

.form {
  max-width: 420px;
  margin: 30px auto;
  background: #111;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,255,204,.4);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form h3 {
  color: #00ffcc;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0,255,204,.4);
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.form button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background: #00ffcc;
  cursor: pointer;
}

#successPopup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #28a745;
  padding: 15px 20px;
  border-radius: 10px;
  display: none;
}
